@import "tailwindcss";

@theme {
  --color-primary: #e6007e;
  --color-primary-foreground: #ffffff;
  --color-border: #e2e8f0;
}

@layer base {
  body {
    background-color: #f8fafc;
    color: #0f172a;
    font-family: 'Inter', sans-serif;
  }
  
  input {
    transition: all 0.2s;
  }
}